{minimum_otp_vsn, "18.0"}.

{validate_app_modules, true}.
{cover_enabled, true}.
{reset_after_eunit, true}.

{provider_hooks, [
    {post, [
      {compile, {appup, compile}},
      {clean, {appup, clean}}
    ]}
]}.

{deps, [
    {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", {branch, "master"}}},
    {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}}
]}.

{relx, [
    {release, {mx, "1.0.0"},[
      {mnesia, load},
      lager,
      gproc,
      mx
    ]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true},
    {vm_args, "conf/vm.args"},
    {sys_config, "conf/sys.config"}
]}.


{profiles, [
    {prod, [
        {erl_opts, [
            no_debug_info,
            warnings_as_errors
        ]},
        {relx, [{dev_mode, false},
                {include_erts, true},
                {extended_start_script, true},
                {include_src, false}]}
    ]},
    {test, [
        {erl_opts, [
            debug_info
        ]}
    ]}
]}.

{plugins, [
    rebar3_run,
    rebar3_appup_plugin,
    rebar3_vendor
]}.

