{deps_dir, "./deps"}.

{validate_app_modules, true}.
{lib_dirs, [".", "..", "./deps", "deps"]}.
{sub_dirs, []}.
{erl_opts, [fail_on_warning, debug_info, {i,"include"}, {src_dirs, ["src"]}]}.

{deps, [
    {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", {branch, "master"}}},
    {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}}
]}.

{edoc_opts, [{overview, "overview.edoc"}, {dir, "doc"}]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.
{cover_print_enable, true}.
{clean_files, ["*.eunit", "ebin/*.beam", "erl_crash.dump"]}.