{minimum_otp_vsn, "18.0"}.

{validate_app_modules, true}.
{cover_enabled, true}.
{reset_after_eunit, true}.

{provider_hooks, [
    {post, [
      {compile, {appup, compile}},
      {clean, {appup, clean}}
    ]}
]}.

{deps, [
    {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", {branch, "master"}}},
    {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}}
]}.

{erl_opts, [{parse_transform, lager_transform}]}.

{ct_opts, []}.

% Surefire reports for EUnit (Format used by Maven and Atlassian Bamboo for example
% to integrate test results).
{eunit_opts, [{report, {eunit_surefire, [{dir, "_build/test"}]}}]}.

{edoc_opts, [{dir, "_build/edoc"}]}.


{relx, [
    {release, {mx, "1.0.0"},[
        %sync,
        observer, wx, runtime_tools, inets, % for development purposes only
        {mnesia, load},
        lager,
        gproc,
        mx
    ]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true},
    {vm_args, "conf/vm.args"},
    {sys_config, "conf/sys.config"}
]}.



{profiles, [
    {prod, [
        {erl_opts, [
            no_debug_info,
            warnings_as_errors
        ]},
        {relx, [{dev_mode, false},
                {include_erts, true},
                {extended_start_script, true},
                {include_src, false}]}
    ]},
    {test, [
        {erl_opts, [
            debug_info,
            {parse_transform, lager_transform},
            nowarn_unused_vars
        ]}
    ]}
]}.

{plugins, [
    rebar3_run,
    rebar3_appup_plugin,
    rebar3_vendor
]}.

% {commands, [
%     {distclean, "rm -rf .rebar3 _build _checkouts/*/ebin ebin log"},
%     {sync, "git fetch upstream && git merge upstream/master"}
% ]}.


