[
    {mx, [
%      {master, "mxnode01@127.0.0.1"]}

    ]},
    {lager, [
       {log_root, "/tmp/"},
       {handlers, [
        {lager_console_backend, info},
        {lager_file_backend, [{file, "mx.error.log"}, {level, error}]},
        {lager_file_backend, [{file, "mx.console.log"}, {level, debug}]}
       ]}
     ]},
     {mnesia, [
        {dump_log_write_threshold, 50000}
     ]}
].
