[
    {mx, [
       % queue limits
       {queue_length_limit,   100000},
       {queue_low_threshold,  0.6},   % 60%
       {queue_high_threshold, 0.8},    % 80%
       {mnesia_base_dir,      "/usr/local/var/lib/mx/mnesia/"}
       %, {master, "mxnode01@127.0.0.1"}  %% or "${MASTER_NODE}"
    ]},
    {lager, [
       {log_root, "/tmp/"},
       {handlers, [
        {lager_console_backend, [{level, info}]},
        {lager_file_backend, [{file, "mx.error.log"}, {level, error}]},
        {lager_file_backend, [{file, "mx.console.log"}, {level, debug}]}
       ]}
     ]},
     {mnesia, [
        {dump_log_write_threshold, 50000}
     ]}
].
